#test{
    color: blueviolet;

}

body{
    margin: 0;
}

h1{
    color: blue;
    font-size: 5em;
    text-align: center;
    border-bottom: 1px gray solid;
    display: block;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: 150PX 1fr;
}

#grid ol {
    padding-left:  30px;
}

ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}

a{
    color: black;
    text-decoration : none;
    
}

#active {
    color: cornflowerblue;
} 

.saw {
    color: blueviolet;
}

800px 미만시, h1의 하단선 제거, ol의 오른쪽 선 제거,
grid 라는 아이디 부분을 grid -> block,
block, 공간 침투 불가능, 
@media(max-width :800px){
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }

}

